<label>Nombre</label>
<br>
<input id='nome' type="text" value='' />
<br>
<label>Path</label>
<br>
<input id='path' type="text" value='' />
<br>
<br>
<input type="submit" value="Salvar" onclick="createPermissao();" />

<script>
</script>