<script src="/js/jquery.rut.min.js"></script>
<script src="/js/createCliente.js"></script>
<label>Nombre</label>
<br>
<input id='nome' type="text" value='' name='nome' />
<br>
<label>RUT</label>
<br>
<input id='rut' type="text" value='' name='rut' />
<br>
<input type="submit" value="Salvar" onclick="createFornecedor();" />

<script>
	$("#rut").rut().on('rutInvalido', function(e) {
		//alert("El rut " + $(this).val() + " es inválido");
		$("#rut").addClass("invalid");
	}).on('rutValido', function (e) {
		$("#rut").removeClass("invalid");
	});
</script>