<label>Descrição</label>
<br>
<input id='descricao' type="text" value='<%= estoque.descricao %>'  />
<br>
<input type="submit" value="Salvar" onclick="editEstoque();" />

<script>
	var estoqueID = '<%= estoque.id %>';
</script>