<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/baga.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/helper.js"></script>
    <%- body %>
  </body>
</html>
