<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Baga</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/bootstrap-editable.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <style>
    	.content {
			width: 200px;
		    height: 200px;

			position:absolute;
		    left:0; right:0;
		    top:0; bottom:0;
			margin:auto;
			
			max-width:100%;
			max-height:100%;
			overflow:auto;
		}
    </style>
  </head>

  <body>
	<div id="wrapper" class="content">
		Não Autorizado!!!
	</div>




  	<!--<script src="/js/dependencies/sails.io.js"></script>-->
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>