<%- include ../modelContas.ejs %>

<table id='tableCC' class="table table-striped">
	<thead>
		<tr>
			<th>Data</th>
			<th>Descrição</th>
			<th>Moeda</th>
			<th>Valor</th>
		</tr>
	</thead>
	<tbody id="tbodyCC">
	</tbody>
</table>

<script>
	var contas = <%- JSON.stringify(contas) %>;
	var selectedConta = -1;
	var contaObj = undefined;
	var searchRows = $('#tableContas tr');
	$('#contaMdl').on('shown.bs.modal', function () {
	  $('#contaInput').focus()
	});
	showContasModal(function (conta) {
		io.socket.get('/lancamento/contaCorrenteSel', { conta: selectedConta }, function (resData, jwres) {
			var lancamentos = resData;
			$("#tbodyCC").empty();
			var total = 0;
			for (var i = lancamentos.length - 1; i >= 0; i--) {
				$('#tableCC > tbody:last-child').append('<tr id="' + lancamentos[i].id + '"><td>' + lancamentos[i].vencimento + '</td><td>' + lancamentos[i].descricao + '</td><td>$U</td><td>' + lancamentos[i].valor +'</td></tr>');
				total += lancamentos[i].valor;
			}
		});
	});
</script>