<%- include ../modelContas.ejs %>

<table id='tableCC' class="table table-striped">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Descripción</th>
			<th>Moneda</th>
			<th>Valor</th>
		</tr>
	</thead>
	<tbody id="tbodyCC">
	</tbody>
</table>
<script src="/js/moment.min.js"></script>

<%- include ../filtros/modalFiltroCC.ejs %>

<script>
	var records = [];
	var showingIds = [];
	var contas = <%- JSON.stringify(contas) %>;
	var selectedConta = -1;
	var contaObj = undefined;
	var searchRows = $('#tableContas tr');
	$('#contaMdl').on('shown.bs.modal', function () {
	  $('#contaInput').focus()
	});
	showContasModal(function (conta) {
														//5
		io.socket.get('/lancamento/contaCorrenteSel', { conta: selectedConta }, function (resData, jwres) {
			records = resData;
			var lancamentos = resData;
			$("#tbodyCC").empty();
			var total = 0;
			for (var i = lancamentos.length - 1; i >= 0; i--) {
				$('#tableCC > tbody:last-child').append('<tr id="' + lancamentos[i].id + '"><td>' + moment(lancamentos[i].vencimento).format('DD/MM/YYYY') + '</td><td>' + lancamentos[i].descricao + '</td><td>' + lancamentos[i].moeda.descricao +'</td><td>' + lancamentos[i].valor +'</td></tr>');
				total += parseInt(lancamentos[i].valor, 0);
			}
			$('#tableCC > tbody').after('<tfoot><tr><th></th><th></th><th>Total:</th><th>' + total.toString() + '</th></tr></tfoot>');
		});
	});

	function mostrarFiltro() {
		$("#filtroMdl").modal();
	}
</script>