<!-- Modal Dialog -->
<div class="modal fade" id="baixarMdl" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Baixar Conta </h4>
      </div>
      <div class="modal-body">
        <label>Forma de Pagamento: </label>
		<select id="formaPagamentoSelect">
			<% formasPagamento.forEach(function(fp) { %>
				<option value="<%= fp.id %>"><%= fp.descricao %></option>
			<% }); %>
		</select>
		<input id='valorFP' type="number" value='0' name='valorFP'>
		<input id='addPagamento' type="submit" value="+" onclick="addPagamento();"/>
		<br>
		<table id='tablePagamentos' class='table table-striped'>
			<thead>
				<th>Forma de Pagamento</th>
				<th>Valor</th>
			</thead>
			<tbody>
			</tbody>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" id="confirm">Baixar</button>
      </div>
    </div>
  </div>
</div>