<label>Descrição</label>
<br>
<input id='descricao' type="text" value='<%= tabelaPreco.descricao %>' name='descricao' />
<br>
<input type="submit" value="Salvar" onclick="editTabela();" />

<script>
	var tabelaID = '<%= tabelaPreco.id %>';
	function validateTabela(tabela) {
		return true;
	}


	function getTabela() {
		return {
			descricao: $('#descricao').val()
		};
	}


	function editTabela() {
		var tabela = getTabela();
		if (validateTabela(tabela)) {
			io.socket.post('/tabelaPreco/editPost', { tabelaPreco: tabela, id: tabelaID }, function (resData) {
				if (resData.statusCode == 200) {
					document.location = '/tabelaPreco';
				}
			});
		}
	}
</script>
