<label>Descrição</label>
<br>
<input id='descricao' type="text" value='<%= categoria.descricao %>' name='descricao' />
<br>
<input type="submit" value="Salvar" onclick="editCategoria();" />

<script>
	var categoriaID = <%= categoria.id %>;
</script>