
<div class="modal fade" id="descontoMdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Descuento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
			<input type="radio" id="descontoValor" name="desconto" checked>Descuento Valor<br>
			<input type="radio" id="descontoPct" name="desconto" >Descuento Porcentaje<br>

			<input type="number" id="descontoInput" />
		</form>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="aplicarDesconto();">Confirmar</button>
      </div>
    </div>
  </div>
</div>

