<label>Nome</label>
<br>
<input id='nome' type="text" value='<%= loja.nome %>' name='nome' />
<br>
<label>RUT</label>
<br>
<input id='rut' type="text" value='<%= loja.rut %>' name='rut' />
<br>
<input type="submit" value="Salvar" onclick="editLoja();" />

<script>
	var lojaID = <%= loja.id %>;
</script>