<label>Descripción</label>
<br>
<input id='descricao' type="text" autofocus/>
<br>
<label>Estoque</label>
<br>
<input id="estoqueSaida" type="text" onfocus="findEstoqueES(1);" />


<div>
	<label>Producto</label>
	<label style="padding-left: 360px;">Cantidad</label>
	<br>
	<input id="produto" type="text" onfocus="findProduto();" style="width: 400px;" />
	<input id="quantidade" type="number" style="margin-left: 20px;">
	<input type="submit" onclick="addProduto();" value="+">
	<br>
	<br>
	<table id='tableProdutos' class="table table-striped">
		<thead>
			<tr>
				<th>Producto</th>
				<th>Cantidad</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>



<label>Observaciones</label>
<textarea class="form-control" rows="5" id="observacao"></textarea>
<%- include ../modalEstoques.ejs %>

<input type="submit" onclick="createClick();" value="Salvar">




<div class="modal fade" id="produtosMdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Procurar Produtos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<label>Produto: </label>
		<input id='produtoNome' type="text" value='' name='produtoNome' autofocus/>
		<br>
		<div style="max-height: 350px; overflow-y: scroll; overflow-x: hidden;">
			<table id='tableProdutos' class="table table-striped">
				<thead>
					<tr>
						<th>Descripción</th>
					</tr>
				</thead>
				<tbody>
					<% produtos.forEach(function(p) { %>
						<tr id='<%= p.id %>'>
							<td><%= p.descricao %></td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="selecionarProduto();">Selecionar</button>
      </div>
    </div>
  </div>
</div>





<script>
	var items = [];
	var selectedProduto;
	var produtoObj;
	var selectedEstoque;
	var estoqueObj;
	var estoqueSaida;
	var estoqueEntrada;
	var entradaOuSaida = -1;
	var produtos = <%- JSON.stringify(produtos) %>;
	var produtosSR = $('#tableProdutos tr');
	produtosSR.splice(0, 1);

	estoqueSelectedCB = function (estoqueSelected) {
		if (entradaOuSaida == 0) {
			estoqueEntrada = estoqueSelected;
			$("#estoqueEntrada").val(estoqueSelected.descricao);
		}
		else if (entradaOuSaida == 1) {
			estoqueSaida = estoqueSelected;
			$("#estoqueSaida").val(estoqueSelected.descricao);
		}
	};

	function createClick() {
		createMovimentacao(function (resData) {
			if (resData.statusCode == 200) {
				document.location = '/movimentacao/indexSaida';
			}
		})
	}
</script>
<script src="/js/movimentacaoHelper.js"></script>
