<script src="/js/createCliente.js"></script>
<label>Nome</label>
<br>
<input id='nome' type="text" value='<%= cliente.nome %>' name='nome' />
<br>
<input type="submit" value="Salvar" onclick="editCliente();" />

<script>
	var clienteID = <%= cliente.id %>;
</script>