<label>Descripción</label>
<br>
<input id='descricao' type="text" value='<%= conta.descricao %>' name='descricao' />
<br>
<label>Especie</label>
<br>
<select id="tipo">
	<option value="0">Caja</option>
	<option value="1">Cuenta a Recibir</option>
	<option value="2">Cuenta a Pagar</option>
	<option value="3">Cuenta Corriente</option>
</select>
<br>
<input type="submit" value="Salvar" onclick="editConta();" />

<script>
	var contaID = '<%= conta.id %>';
	var contaTipo = <%= conta.tipo %>;
	$('#conta').val(contaTipo);
</script>