<label>Código</label>
<br>
<input id='codigo' type="number" value='' name='codigo' />
<br>
<label>Descrição</label>
<br>
<input id='descricao' type="text" value='' name='descricao' />
<br>
<label>Categoria</label>
<br>
<input id='categoria' type="text" value='' name='categoria' onfocus="findCategoria();" />
<br>
<br>
<label>Quantidades</label>
<br>
<div>
	<div id="newQtde">
		<select id="estoques"></select>
		<input id='quantidade' type="number" value=''  />
		<input type="submit" value="Adicionar Quantidade" onclick="addQtde();" />	
	</div>
	<table id='tableQtdes'>
		<thead>
			<tr>
				<th>Estoque</th>
				<th>Quantidade</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<br>
<label>Preço de Custo</label>
<br>
<input id='custo' type="number" value='' name='custo' />
<br>
<label>Preços de Venda</label>
<br>
<div>
	<div id="newPreco">
		<select id="tabelasPreco"></select>
		<input id='venda' type="number" value='' name='venda' />
		<input type="submit" value="Adicionar Preço" onclick="addPreco();" />	
	</div>
	<table id='tablePrecos'>
		<thead>
			<tr>
				<th>Tabela</th>
				<th>Preço</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<br>
<input type="submit" value="Salvar" onclick="createProduto();" />



<!-- MODAL -->
<div class="modal fade" id="categoriaMdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Procurar Categorias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Categoria</label>
		<br>
		<input id='categoriaInput' type="text" value='' />
		<br>

		<table id='tableCategorias' class="table table-striped">
			<thead>
				<th>Categoria</th>
			</thead>
			<tbody id="tbodyCategorias">
			</tbody>
		</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="selecionarCategoria();">Selecionar</button>
      </div>
    </div>
  </div>
</div>


<script>
	var tabelasDePreco = <%- JSON.stringify(tabelasPreco) %>;
	var estoques = <%- JSON.stringify(estoques) %>;
	var categorias = [];
	var selectedCategoria;
	var categoriaObj;
	var searchRows = $('#tableCategorias tr');
	$('#categoriaMdl').on('shown.bs.modal', function () {
	  $('#cateogriaInput').focus()
	});
</script>

<script src="/js/produtoHelper.js"></script>