<label>Nome</label>
<br>
<input id='nome' type="text" value='<%= vendedor.nome %>' name='nome' />
<br>
<input type="submit" value="Salvar" onclick="editVendedor();" />

<script>
	var vendedorID = <%= vendedor.id %>;
</script>