<h1>Abertura de Caixa</h1>

<%- include ../modalContador.ejs %>
<br>
<input type="submit" value="Confirmar" onclick="abrirCaixa();">

<script>
	function abrirCaixa() {
		var abertura = {
			valorTotal: getTotalContador()
		};

		console.log(JSON.stringify(abertura));

		io.socket.post('/abertura/abrirCaixaPost', { abertura: abertura }, function (resData) {
			if (resData.statusCode == 200) {
				window.location = '/lancamento/caixa';
			}
		});		
	}
</script>